bcrypt==5.0.0
cffi==1.17.1
charset-normalizer==3.5.1
cryptography==47.0.0
netmiko==4.4.0
ntc-templates==7.9.0
numpy==1.24.4
pandas==2.0.3
paramiko==3.5.1
pillow==10.4.0
pycparser==2.23
pynacl==1.6.2
pyserial==3.5
python-dateutil==2.9.0.post0
pytz==2026.3.post1
PyYAML==6.0.3
reportlab==4.4.3
scp==0.16.1
six==1.17.0
textfsm==2.1.0
typing-extensions==4.13.2
tzdata==2026.4
